/* Color scheme*/
:root {
  --darkest: black;
  --darker: rgb(9, 9, 73);
  --dark: blue;
  --medium: cornflowerblue;
  --light: lightblue;
  --lighter: silver;
  --lightest: ivory;
}

/* Content highlight and background colors*/
::selection {
  background-color: var(--lighter);
  color: var(--darkest);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--darkest);
  color: var(--lightest);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: var(--darkest);
}

.center{
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  position: relative;
  outline: 5px solid blanchedalmond;
}

section {
  border: 5px solid var(--light);
}

#scoreBarContainer{
  justify-self: flex-start;
  height: 15%;
  width: 100vw;
}
#quizSpaceContainer {
  justify-self: center;
  height: 75%;
  width: 80vw;
}

#footerContainer{
  align-self: flex-end;
  height: 10%;
  width: 100vw;  
}

div .button{
  background-color: var(--medium);
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5%;
  box-shadow: 0 5px var(--lighter);
}

li .button{  
  background-color: var(--light);
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5%;
}

.button:hover {
  background-color: var(--darker);
  color: var(--lighter);
  box-shadow: 0 12px 16px 0 var(--darkest), 0 17px 50px 0 var(--darkest);
}

.button:active {
  background-color: var(--darker);
  box-shadow: 0 5px var(--light);
  transform: translateY(4px);
}