/* Color scheme*/
:root{
    --darkest: black;
    --darker: rgb(9, 9, 73);
    --dark: blue;
    --medium: cornflowerblue;
    --light: lightblue;
    --lighter: silver;
    --lightest: ivory;
}

/* Content highlight and background colors*/
::selection{
    background-color: var(--lighter);
    color: var(--darkest);
}

html, body{
    padding: 0;
    margin: 0;
}

html{    
    height: 100%;
}

body{
    min-height: 100%;
}

#quizSpaceContainer{
    top: 15%;
}
